@model IEnumerable<KnowIT_TransportIT_webapp.Models.BillingModel>

@{
    ViewData["Title"] = "Index";
}

<h1>MAIN LIST - SOLD TICKETS/FARES</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add new sold ticket</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSocNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketCost)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSocNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdress)
            </td>

                <td style="@((item.Status.HasValue && item.Status.Value) ? "background-color: green;" : "background-color: red;")">
                    @(item.Status.HasValue ? (item.Status.Value ? "Active" : "Inactive") : "N/A")
                    </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.InternalNote)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
