@model IEnumerable<KnowIT_TransportIT_webapp.Models.PassangerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>MAIN LIST - ALL PASSANGERS</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new passanger</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassangerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerSocNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerSocNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationAccount)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
