@model IEnumerable<KnowIT_TransportIT_webapp.Models.PassangerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>ADMIN PASSANGERS - ALL PASSANGERS</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new passanger</a>
</p>
<table class="table" id="sortableTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassangerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerSocNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerSocNo)
            </td>

            <td>
                @if (!string.IsNullOrEmpty(item.PassangerPassword))
                {
                    @:Password exists
                }
                else {
                    @:No password
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PassangerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationAccount)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
