@model KnowIT_TransportIT_webapp.Models.TicketsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trip_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trip_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket_available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket_available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image_path)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
